@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat:wght@100&family=Quicksand:wght@308&display=swap');

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* navbar */
mat-toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: black;
  padding-inline: 20%;
  align-items: center;
  color: #fff;
  margin: 0;
}

.example-spacer {
  flex: 1 1 auto;
}

.image {
  width: 180px;
  height: 70%;
}

.icon {
  color: #fff;
  transform: scale(1.5);
}

.icons {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/* contenedor */
.front {
  flex-direction: column;
  align-items: center;
  display: block;
  margin-top: 200px;
}

.banner {
  width: 100%;
  border-radius: 10px;
}

.containerLanding {
  background-color: rgba(0, 0, 0, 0.589);
  border-radius: 10px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
  padding: 20px;
}

/* cards */
.met{
  display: flex;
  width: 100%;
  justify-content: center;
}

mat-tab {
  justify-content: center;
}

mat-paginator {
  margin-top: 20px; 
  justify-content:center;
  display: flex;
}

.example-large-box{
  background-color: #fff;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
}

.example-small-box, .example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.example-large-box {
  height: 300px;
  width: 300px;
}
