<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing</title>
</head>

<header>
  <mat-toolbar>

    <img src="/assets/imgs/icon.png" class="image">
    <span class="example-spacer"></span>
    <button class="icon" mat-button [matMenuTriggerFor]="menu"><mat-icon>account_circle</mat-icon>{{usuarioNombre}}
    </button>
    <mat-menu #menu="matMenu">
      <!-- <button class="icons" mat-menu-item><mat-icon>home</mat-icon>Inicio</button> -->
      <button class="icons" mat-menu-item (click)="refreshPage()"><mat-icon>forward</mat-icon>Cerrar sesión</button>
    </mat-menu>
  </mat-toolbar>
</header>


<!-- front -->
<div class="front">

  <img src="/assets/imgs/design8.png" class="banner">

  <!-- container -->
  <div class="container">
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav-content>
        <mat-tab-group dynamicHeight>
          <mat-tab *ngFor="let categoryKey of getCategoryKeys()">
            <ng-template mat-tab-label><h2>{{ categoryKey }}</h2></ng-template>
            <div class="cards-container">
              <div class="card" *ngFor="let card of getCardsForCategory(categoryKey)">
                <mat-card class="example-card mat-elevation-z8">
                  <mat-card-header>
                    <mat-card-title><b>{{ card.ReporteTitulo }}</b></mat-card-title>
                  </mat-card-header>
                  <img mat-card-image [src]="card.ReporteImagen">
                  <mat-card-content class="justify">
                    <p>
                      {{ card.ReporteDetalle }}
                    </p>
                  </mat-card-content>
                  <mat-card-actions class="but">
                    <button class="ver" mat-button (click)="redirect(card)">VER</button>
                  </mat-card-actions>
                </mat-card>
              </div>

            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-sidenav-content>
    </mat-sidenav-container>



  </div>

</div>

</html>
