/* @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Montserrat:wght@100&family=Quicksand:wght@308&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Afacad:ital@0;1&family=Belanosima:wght@700&family=Poiret+One&family=Sulphur+Point:wght@300;400;700&family=Tilt+Warp&display=swap');

/* @font-face {
  font-family: 'HBO Max';
  src: url('/assets/fonts/HBO Max.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */


html {
  background: linear-gradient(#000000, #2A0541, #3C034E, #360F66, #5816BD);
  background-size: 100% 100%;
  background-attachment: fixed;
  /* --mat-tree-container-background-color:rgb(0, 0, 0);
    --mat-tree-container-color: #000; */
}

body {
  /* font-family: "HBO Max", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin: 0; */

  font-family: "Sulphur Point", sans-serif;
  font-weight: 300;
  font-style: normal;
}

